<div class="padding">
    <h3>
        聊天-历史记录【{{vm.buddy.mail}}】
        <a class="btn btn-default" ng-href="#/app/user/info/{{vm.id}}">返回</a>
    </h3>
    <div id="chat_field">
        <ul>
            <li ng-repeat="msg in vm.messages">
                <div ng-if="msg.from_id==vm.buddy.id" class="blue">[{{msg.created_at|limitTo:11:5}}]{{vm.buddy.mail}}:</div>
                <div ng-if="msg.to_id==vm.buddy.id" class="green">[{{msg.created_at|limitTo:11:5}}]我:</div>
                <pre style="white-space: pre-wrap; word-wrap: break-word">{{msg.message}}</pre>
            </li>
        </ul>

    </div>
</div>

